.main {
  background-color: #ebf2f7;
}

.NewsLayout {
  border-radius: 20px;
  box-shadow: 5px 0 20px -2px #666;
  background-color: #ebf2f7;
  transition: width 0.3s linear;
  z-index: 100;

}

.SidebarWrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  .Sidebar {
    background-color: #ebf2f7;
  }

  .SideBarWidth {
    min-width: 450px;
  }

  .SideDrawerWidth {
    width: calc(100% - 450px);
  }
}